/* GENERAL */



/* NAVBAR START */



.nav-logo{
    object-fit: cover;
    width: 75px;
}

/* NAVBAR END */

/* HEROIMG START */

.hero-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.hero-grid1{
    grid-row: 1;
    grid-column: 1;
}

.hero-grid2{
    grid-row: 1;
    grid-column: 1;
}

.hero-text{
    background-color: #353535cf;
    padding: 30px;
    width: auto;
    font-size: 35px;
    margin: 650px 900px 0px 100px;
}

.heroUnder{
    background-color: #1E2C20;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* HEROIMG END */

/* Start Cooking START */

.cook-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 80px 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 10px;
}

.cook-grid h1{
    grid-row: 1;
    grid-column: 2 / 4;
    font-size: 60px;
    margin-left: 200px;
}

.cook-grid img{
    grid-row: 2;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    width: 100%;
    border-radius: 10px;
}
.cook-grid h2{
    grid-row: 3;
}

.cook-container{
    margin-left: ;
}

/* Start Cooking END */

/* New Arrivals START */





/* New Arrivals END */

/* Best Sellers START */

.best-card{
    border-radius: 10px;
    border: 1px solid #000000;
    padding: 24px;
}


/* Best Sellers END */

/* Reviews START */

.review-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 30px;

}

.review-img1{
    width: 100%;
    height: 464.751px;
    object-fit: cover;
    grid-row: 1;
    grid-column: 1;
}
.review-img2{
    width: 100%;
    height: 464.751px;
    object-fit: cover;
    grid-row: 1;
    grid-column: 2;
}
.review-img3{
    width: 100%;
    height: 464.751px;
    object-fit: cover;
    grid-row: 1;
    grid-column: 3;
}

.review-card1{
    border-radius: 10px;
    background-color: rgba(18, 18, 18, 0.60);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 345px;
    padding: 73px 28px;
    grid-column: 1;
    grid-row: 1;
    margin: 40px;
    color: white;
}
.review-card2{
    border-radius: 10px;
    background-color: rgba(18, 18, 18, 0.60);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 345px;
    padding: 73px 28px;
    grid-column: 2;
    grid-row: 1;

}
.review-card3{
    border-radius: 10px;
    background-color: rgba(18, 18, 18, 0.60);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 345px;
    padding: 73px 28px;
    grid-column: 3;
    grid-row: 1;

}



/* Reviews END */